html,
body {
  width: 100%;
  height: 100%;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
}
#container .calculator {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
#container .calculator__process__link {
  text-decoration: none;
}
#container .calculator__process__link:hover {
  text-decoration: underline;
}
#container .calculator__process__link:link,
#container .calculator__process__link:visited {
  color: #666;
}
#container .copyright {
  margin-top: 50px;
  text-align: center;
}
#container .copyright a {
  text-decoration: none;
}
#container .copyright a:hover {
  text-decoration: underline;
}
#container .copyright a:link,
#container .copyright a:visited {
  color: #666;
}
