html, body {
  height: 100%;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .calculator__process__link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:link, &:visited {
      color: #666;
    }
  }
}